<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header :: head}"></head>
<body>
<div th:replace="~{fragments/navbar :: navbar}"></div>

<div class="container mt-4">
    <div class="hero-banner" style="background-image: url('/images/IMG_2.jpg');">
        <h1>Panel Veterinario</h1>
    </div>

    <div class="row mt-4">
        <div class="col-md-4 mb-3">
            <a th:href="@{/vet/clientes}" class="card-dashboard">
                <div class="card-body">
                    <div class="icono">👥</div>
                    <h5>Clientes</h5>
                    <p>Consultar propietarios</p>
                </div>
            </a>
        </div>
        <div class="col-md-4 mb-3">
            <a th:href="@{/vet/mascotas}" class="card-dashboard">
                <div class="card-body">
                    <div class="icono">🐱</div>
                    <h5>Mascotas</h5>
                    <p>Ver fichas clínicas</p>
                </div>
            </a>
        </div>
        <div class="col-md-4 mb-3">
            <a th:href="@{/vet/citas}" class="card-dashboard">
                <div class="card-body">
                    <div class="icono">📅</div>
                    <h5>Citas</h5>
                    <p>Gestionar agenda</p>
                </div>
            </a>
        </div>
    </div>
</div>

<div th:replace="~{fragments/footer :: footer}"></div>
</body>
</html>