<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header :: head}"></head>
<body>
<div th:replace="~{fragments/navbar :: navbar}"></div>
<div class="container mt-4">
    <h2>Bienvenido, <span th:text="${cliente.nombre}"></span></h2>
    <div class="row mt-4">
        <div class="col-md-4">
            <div class="card p-3 text-center">
                <a th:href="@{/cliente/mascotas}">
                    <img th:src="@{/images/IMG_1.jpg}" class="imagen-mascota" alt="Lobby con animales y veterinarios" />
                    <h5 class="mt-2">Mis Mascotas</h5>
                </a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card p-3 text-center">
                <a th:href="@{/cliente/citas}">
                    <img th:src="@{/images/IMG_2.jpg}" class="imagen-mascota" alt="Perro y gato en una mesa" />
                    <h5 class="mt-2">Mis Citas</h5>
                </a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card p-3 text-center">
                <a th:href="@{/cliente/mascotas}">
                    <img th:src="@{/images/IMG_3.jpg}" class="imagen-mascota" alt="Dos hurones en una camita" />
                    <h5 class="mt-2">Historial Médico</h5>
                </a>
            </div>
        </div>
    </div>
</div>
<div th:replace="~{fragments/footer :: footer}"></div>
</body>
</html>